# Ігноруємо системні файли
.DS_Store
Thumbs.db

# Ігноруємо конфігураційні файли IDE/редакторів
.vscode/
.idea/

# Ігноруємо файли середовища Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ігноруємо віртуальне середовище
venv/
env/
*.env

# Ігноруємо дані, що генеруються Jupyter
.ipynb_checkpoints/

# Логи та тимчасові файли
*.log
*.tmp
*.bak

# Ігноруємо великі файли даних (якщо потрібно)
data/
*.json
*.xlsx

# Якщо використовуєте Poetry
poetry.lock